@model ProductAddDto
@{
    ViewData["Title"] = "Create";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>@Common.Blog</h4>
                    <span>
                        Paylaşımımların idarə edilməsi
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="dashboard" asp-action="index">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-action="index">@Common.Blog</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        Yeni paylaşım əlavə etmək
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <form class="card" id="products" method="post" enctype="multipart/form-data">
        <div class="card-block">
            <h4 class="sub-title">Yeni paylaşım əlavə etmək</h4>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="Title" class="control-label">
                                Title
                            </label>
                            <input asp-for="Title" id="Title" type="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="CategoryId" class="control-label">
                                Category
                            </label>
                            <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control select2">
                                <option value="" selected disabled>--- Seçin ---</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="BrandId" class="control-label">
                                Brand
                            </label>
                            <select asp-for="BrandId" asp-items="@ViewBag.Brands" class="form-control select2">
                                <option value="" selected disabled>--- Seçin ---</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="UnitOfWeight" class="control-label">
                                Unit
                            </label>
                            <select asp-for="UnitOfWeight" asp-items="@ViewBag.Units" class="form-control select2">
                                <option value="" selected disabled>--- Seçin ---</option>
                            </select>
                            <span asp-validation-for="UnitOfWeight" class="text text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Weight" class="control-label">
                                Weight
                            </label>
                            <input asp-for="Weight" class="form-control text-right" />
                            <span asp-validation-for="Weight" class="text text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <div class="tab-control w-100" role="tabcontrol">
                                <div class="tab-page" id="information" aria-title="Information" selected>
                                    <textarea asp-for="Information" class="form-control"></textarea>
                                    <span asp-validation-for="Information" class="text text-danger"></span>
                                </div>
                                <div class="tab-page" id="description" aria-title="Description">
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text text-danger"></span>
                                </div>
                                <div class="tab-page" id="cards" aria-title="Cards">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Size</th>
                                                <th>Color</th>
                                                <th>Price</th>
                                                <th>IsDefault</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for(int i = 0; i < 3; i++)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td><select name="cards[@i].sizeId" asp-items="@ViewBag.Sizes" class="form-control select2"></select></td>
                                                    <td><select name="cards[@i].colorId" asp-items="@ViewBag.Colors" class="form-control select2"></select></td>
                                                    <td><input type="text" class="form-control" name="cards[@i].price" /></td>
                                                    <td><input type="checkbox" class="form-control" name="cards[@i].isDefault" /></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="imager-container" id="viewer1" name="Images"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 text-right">
                    <a class="btn btn-warning" asp-action="index">Back</a>
                    <button class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section addcss {
    <link href="~/lib/multiple-imager-js/css/imager.css" rel="stylesheet" />
    <link href="~/lib/tab-control/tab-control.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/admin/css/select2.override.css" rel="stylesheet" />
    <style>
        .tab-control .tab-pages{
            padding:0;
        }
    </style>
}

@section addjs {
    <script src="~/lib/tab-control/tab-control.js"></script>
    <script src="~/lib/ckeditor5/ckeditor.min.js"></script>
    <script src="~/lib/multiple-imager-js/js/imager.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script>
        window.addEventListener('load', function () {

            ClassicEditor
                .create(document.querySelector('#Information'))
                .then(editor => { })
                .catch(error => { console.error(error); });

            ClassicEditor
                .create(document.querySelector('#Description'))
                .then(editor => { })
                .catch(error => { console.error(error); });

            $('#viewer1').imgadd({
                tnWidth: '120px',
                tnHeight: '120px',
                fontSize: '55px',
                plusInnerHtml: '',
                plusBtnClass: undefined
            });

            $('.select2').select2();

            $('#products').submit(function (e) {
                e.preventDefault();

                const fd = new FormData(e.currentTarget);

                window.fetch('@Url.Action("Create", "Products", values: new { area = "Admin" })', {
                // window.fetch('http://localhost:5189/api/products', {
                    method: 'POST',
                    body: fd
                })
                 .then(response => console.log('Success:', response))
                 .catch(error => console.error('Error:', error));
            });
        });
    </script>
}