@model IEnumerable<CategoryGetAllDto>
@{
    ViewData["Title"] = "Index";
}

<!-- Page-header start -->
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Kateqoriyalar</h4>
                    <span>
                        Məhsul kateqoriyalarının idarə edilməsi
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="dashboard" asp-action="index">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        Kateqoriyalar
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="card">
        <div class="card-header">
            <h5>Kategoriyalar</h5>
            <span>meyarlar üzrə detallı <code>axtarış</code> etmək</span>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th class="operations">
                                @if (User.HasAccess("admin.categories.add"))
                                {
                                    <a class="btn btn-sm btn-success" asp-action="create">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                }
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td class="operations">
                                    @if (User.HasAccess("admin.categories.edit"))
                                    {
                                        <a class="btn btn-sm btn-warning" asp-action="edit"
                                           asp-route-id="@item.Id">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    }
                                    @if (User.HasAccess("admin.categories.get"))
                                    {
                                        <a class="btn btn-sm btn-secondary" asp-action="details"
                                           asp-route-id="@item.Id">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    }
                                    @if (User.HasAccess("admin.categories.remove"))
                                    {
                                        <a class="btn btn-sm btn-danger"
                                           asp-action="Remove"
                                           asp-route-id="@item.Id" onclick="removeEntity(this,'@item.Name');return false;">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Basic table card end -->
</div>

@section addcss {
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <style>
        .table-responsive.operational {
            padding-right: 137px;
        }

            .table-responsive.operational .operations {
                width: 138px;
                position: absolute;
                right: 0;
                top: auto;
                background-color: #ffffff;
                border-right: 0px none black;
                padding: 4px;
            }

            .table-responsive.operational th.operations {
                border-bottom: 2px solid #dee2e6;
            }
    </style>
}

@section addjs {
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script>
        function removeEntity(element, name) {
            Swal.fire({
                title: `${name}, silmək istədiyinizdən əminsiniz?`,
                text: "Silindikdən sonra bərpası mümkün olmayacaq!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Bəli!",
                cancelButtonText: "Xeyr"
            }).then((result) => {
                if (result.isConfirmed) {
                    let href = element.getAttribute('href');

                    fetch(href, {
                        method: 'post',
                        headers:{
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }).then(response => response.json())
                        .then(response => {

                            console.log(response);
                            // window.location.reload();
                        })
                        .catch(err => console.log(err));
                }
            });
        }
    </script>
}