@model IEnumerable<TagGetAll>
@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Kateqoriyalar</h4>
                    <span>
                        Məhsul kateqoriyalarının idarə edilməsi
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="dashboard" asp-action="index">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        Kateqoriyalar
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="card">
        <div class="card-header">
            <h5>Kategoriyalar</h5>
            <span>meyarlar üzrə detallı <code>axtarış</code> etmək</span>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th class="operations">
                                @if (User.HasAccess("admin.tags.add"))
                                {
                                    <a class="btn btn-sm btn-success" asp-action="create">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                }
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Text</td>
                                <td class="operations">
                                    @if (User.HasAccess("admin.tags.edit"))
                                    {
                                        <a class="btn btn-sm btn-warning" asp-action="edit"
                                           asp-route-id="@item.Id">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    }
                                    @if (User.HasAccess("admin.tags.get"))
                                    {
                                        <a class="btn btn-sm btn-secondary" asp-action="details"
                                           asp-route-id="@item.Id">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    }
                                    @if (User.HasAccess("admin.tags.remove"))
                                    {
                                        <a class="btn btn-sm btn-danger"
                                           asp-action="Remove"
                                           asp-route-id="@item.Id" onclick="removeEntity(this,'@item.Text');return false;">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>